.bie-module-iframe-body {
    width: 100vw;
    height: 100vh;

    margin: 0;
}

.bie-module-iframe-container {
    border: 1px grey solid;
    box-sizing: border-box;

    overflow: hidden;
    width: 100%;
    padding-top: 70%;
    background: white;
    position: relative;
}

.bie-module-iframe {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
}

.bie-module-iframe-canvas {
    width: 100%;
    height: 100%;
}


#playerStepHint {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    padding: 10px;
    background:rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border-radius: 5px;
}
