body {
    border: 1px solid black;
    width: 100%;
    position: relative;
    margin: 0;
    box-sizing: border-box;
}

#workingArea {
    border: 1px solid red;
    box-sizing: border-box;
    width: 60%;
    padding: 1rem;
    display: inline-block;
}

#editorArea {
    margin: 2rem 0;
    background-color: lavender;
}


#stepText {
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    margin: 1rem;
    resize: none;
}


#playerArea {
    margin: 2rem 0;
    background-color:lightgreen;
}

.canvas-container {
    height: 0;
    overflow: hidden;
    width: 100%;
    padding-top: 70%;
    background: white;
    position: relative;

}
.canvas-plane {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border: 1px solid darkblue;
    box-sizing: border-box;
}


#dotbutton
{
    background-image: url(img/dot.png);
}
#intervalbutton
{
    background-image: url(img/interval.png);
}
#conebutton
{
    background-image: url(img/cone.png);
}
#planebutton
{
    background-image: url(img/plane.jpg);
}
#pplanebutton
{
    background-image: url(img/pplane.jpg);
}

.instrument-button
{ 
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain; 
    padding-left: 50px;
    height: 50px; 
}



#infoArea {
    border: 1px solid red;
    box-sizing: border-box;
    width: 40%;
    height: 100%;
    position: absolute;
    padding: 1rem;

    display: inline-block;
    background-color: whitesmoke;
}